<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>A simple messenger</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="head-block">
    <h2>A simple messenger</h2>
  </header>
  <div class="main-block">
      <div class="info-block">
        <h2>A simple messenger</h2>
        <p>Messenger for comfortable chatting with friends</p>
      </div>
      <div class="buttons">
        <a href="signup"><button id="signup">Sign up</button></a>
        <a href="signin"><button id="signin">Sign in</button></a>
      </div>
  </div>
  <footer class="footer-block">
  </footer>
</body>
</html>
