<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>A simple messenger</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="head-block">
    <h2>A simple messenger</h2>
  </header>
  <div class="main-block">
      <div class="info-block">
        <h2>Sign up</h2>
      </div>
      <div class="signup-block">
        <input type="text" placeholder="Login">
        <input type="text" placeholder="Password">
        <input type="text" placeholder="Confirm password">
        <button>Sign up</button>
        <p class="error">Error</p>
      </div>
  </div>
  <footer class="footer-block">
  </footer>
</body>
</html>
